/arrays_demo.php
/capturing_form_data_demo.php
/capturing_form_data_receiver_demo.php
/chatgpt.php
/contact_form_demo.php
/contact_form_demo1.php
/css
/first_php_file.php
/form_automation.php
/form_demo.php
/form_demo_action.php
/html_form_elements.php
/html_input_types.php
/jquery-3.7.1.js
/js
/login_form_demo.php
/looping_demo.php
/operators_demo.php
/whatareu.png